<div class="cardPopup">
<h1 class="p-4" mat-dialog-title>Connect 4 Game</h1>
<mat-dialog-content>
    <ul>
        <li>Developed an interactive Connect 4 game with two-player functionality and real-time win detection.</li>
        <li>Implemented game logic, responsive design, and dynamic board rendering.</li>
        <li>Tools used: 
            <ul>
                <li>C#</li>
                <li>Windows Forms</li>
                <li>.Net</li>
            </ul>
    </ul>  
</mat-dialog-content>
<mat-dialog-actions >
    <button mat-button mat-dialog-close class="btn btn-success">Close</button>
</mat-dialog-actions>
</div>