<div class="footer">
    <div class="link d-flex flex-column justify-content-center align-items-center text-center py-4">
        <h4 class="mb-3">Contact Me</h4>

        <div class="cntc d-flex gap-3">
            <a href="https://github.com/Logine-mgd" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/logine-magdy-b87791193/" target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
        </div>
    </div>

        <div class="end ">
            &copy; Logine Magdy 2025
        </div>    
    </div>
    
