<div class="cardPopup">
<h1 class="p-4" mat-dialog-title>Healthcare API</h1>
<mat-dialog-content>
    <ul>
        <li> Developed API for healthcare appointment scheduling </li>
        <li> Tools used:
            <ul>
                <li>C#</li>
                <li>.NET</li>
                <li>SQLServer</li>
                <li>Swagger</li>
            </ul>
    </ul>  
</mat-dialog-content>
<mat-dialog-actions >
    <button mat-button mat-dialog-close class="btn btn-success">Close</button>
</mat-dialog-actions>
</div>