<div class="cardPopup zgh">
<h1 class="p-4" mat-dialog-title>Zaghaleel</h1>
<mat-dialog-content >
    <ul>
        <li>A responsive web application inspired by Zaghaleel Youtube cartoon</li>
        <li> Tools used:
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Bootstrap</li>
            </ul>
    </ul>  
</mat-dialog-content>
<mat-dialog-actions >
    <button mat-button mat-dialog-close class="btn btn-success">Close</button>
</mat-dialog-actions>
</div>
