<div class="container">
    <div class="row g-2 p-2">
        <h2 class="text-center poppins-bold p-4"> My Projects </h2>
        <div class="col-lg-4 m-4 project item1">
               
        </div>
        <div class="col-lg-4 m-4 project item4" (click)="openDialog3()">
            <h4 class="text-center p-3" > Connect 4 Game</h4>      
        </div>
      
        <div class="col-lg-4 m-4 project item2" (click)="openDialog1()">
            <h4 class="text-center p-3"> Zaghaleel </h4>      
        </div>
        <div class="col-lg-4 m-4 project item3" (click)="openDialog2()">
            <h4 class="text-center p-3" > Health API </h4>      
        </div>
    </div>
</div>